 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts//OpenSans-Regular.ttf');
}

#root {
    background-color: #5C006B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainHeader{
    z-index: 2;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    padding: 1em;
    .logoHolder {
        flex-basis: 50%;
        display: flex;
        figure {
            flex-basis: 15%;
            height: 100%;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        h1 {
            flex-basis: 70%;
            font-weight: 300;
            font-size: 2em;
            display: flex;
            align-items: center;
            padding-left: 1em;
        }
    }
}

.glow {
    z-index: 1;
    width: 50vh;
    height: 50vh;
    background-color: #6F0081;
    border-radius: 200%;
    position: fixed;
    top: 30vh;
    left: 25vw;
    box-shadow: 0px 0px 89px 116px rgba(111,0,129,1);
}

.visitMain {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    section{
        overflow: hidden;
    }
    section, div {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        flex-wrap: wrap;
        h1 {
            font-weight: 100;
            flex-basis: 40%;
            font-size: 3em;
        }
        div{
            flex-basis: 100%;
            width: 100%;
            p{
                text-align: justify;
                overflow: hidden;
            }
            p, button {
                font-size: 1.4em;
                flex-basis: 60%;
                margin-top: 1em;
            }
            button{
                border: 3px solid #fff;
                background: none;
                border-radius: 1.5em;
                padding: 0.5em;
            }
        }
    }
}

.register{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    position: relative;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    input, .buttonHolder > button{
        border-radius: 2em;
        cursor: pointer;
        margin-bottom: 1em;
        font-size: 1.1em;
        background: none;
        &::placeholder{
            color: #ccc;
        }
        padding: 1em;
        text-align: center;
        border: 2px solid white;
        color: white;
    }
    form {
        width: 40%;
        border-radius: 3em;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 2em;
        display: flex;
        flex-direction: column;
        p{
            text-align: center;
            margin-bottom: 1.5em;
            font-size: 1.2em;
            .blue{
                color: rgba($color: #00aeff, $alpha: 1.0);
                cursor: pointer;
            }
        }
    }
    .buttonHolder{
        width: 40%;
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
            flex-basis: 30%;
        }
    }
}

.HomePage {
    position: relative;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    .PokeBlock {
        background-color: rgba(255, 255, 255, 0.4);
        border: 2px solid white;
        border-radius: 1em;
        header {
            display: flex;
            border-bottom: 2px solid white;
            .id {
                flex-basis: 20%;
                text-align: center;
                border-right: 2px solid white;
            }
            .name {
                flex-basis: 80%;
                text-align: center;
            }
        }
        figure {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
            }
        }
        article {
            border-top: 2px solid white;
            padding: 0.2em;
            text-align: center;
        }
    }
}