 
 @font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Regular.ttf');
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba($color: rgb(51, 0, 59), $alpha: 0.7);
}
::-webkit-scrollbar-thumb {
    background-color: rgba($color: rgb(126, 126, 126), $alpha: 1);
    border-radius: 1em;
}
::-webkit-scrollbar-corner{
    display: none;
}

#root {
    background-color: #5C006B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainHeader{
    z-index: 3;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    transition: 0.3s;
    padding: 1em;
    background-color: rgba(93, 0, 107, 0.3);
    &:hover{
        background-color: rgba(93, 0, 107, 1);  
    }
    .logoHolder {
        flex-basis: 30%;
        display: flex;
        figure {
            flex-basis: 25%;
            height: 100%;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        h1 {
            flex-basis: 70%;
            font-weight: 300;
            font-size: 2em;
            display: flex;
            align-items: center;
            padding-left: 1em;
        }
    }
    .filters {
        flex-basis: 45%;
        font-size: 1.2em;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            list-style: none;
            padding: 1em;
            justify-content: space-between;
            li {
                display: flex;
                position: relative;
                flex-wrap: wrap;
                padding: 0.2em;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover ol {
                    display: block;
                }
                ol {
                    display: none;
                    position: absolute;
                    width: 100%;
                    min-width: 10em;
                    max-height: 10em;
                    overflow-y: scroll;
                    top: 3em;
                    flex-basis: 100%;
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: rgba($color: rgb(126, 126, 126), $alpha: 0.3);
                        border-radius: 1em;
                    }
                    &::-webkit-scrollbar-corner{
                        display: none;
                    }
                    li {
                        overflow: visible;
                        border-bottom: 1px solid black;
                        text-align: center;
                        background-color: rgba(93, 0, 107, 1);
                    }
                    .selected {
                        background-color: #3d0047;
                    }
                }
            }
        }
    }
}

.glow {
    z-index: 1;
    width: 50vh;
    height: 50vh;
    background-color: #6F0081;
    border-radius: 200%;
    position: fixed;
    top: 40vh;
    left: 20vw;
    box-shadow: 0px 0px 89px 116px rgba(111,0,129,1);
}

.visitMain {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    section{
        overflow: hidden;
    }
    section, div {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        flex-wrap: wrap;
        h1 {
            font-weight: 100;
            flex-basis: 40%;
            font-size: 3em;
        }
        div{
            flex-basis: 100%;
            width: 100%;
            p{
                text-align: justify;
                overflow: hidden;
            }
            p, button {
                font-size: 1.4em;
                flex-basis: 60%;
                margin-top: 1em;
            }
            button{
                border: 3px solid #fff;
                background: none;
                border-radius: 1.5em;
                padding: 0.5em;
            }
        }
    }
}

.register{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    position: relative;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    input, .buttonHolder > button{
        border-radius: 2em;
        cursor: pointer;
        margin-bottom: 1em;
        font-size: 1.1em;
        background: none;
        &::placeholder{
            color: #ccc;
        }
        padding: 1em;
        text-align: center;
        border: 2px solid white;
        color: white;
    }
    form {
        width: 40%;
        border-radius: 3em;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 2em;
        display: flex;
        flex-direction: column;
        p{
            text-align: center;
            margin-bottom: 1.5em;
            font-size: 1.2em;
            .blue{
                color: rgba($color: #00aeff, $alpha: 1.0);
                cursor: pointer;
            }
        }
    }
    .buttonHolder{
        width: 40%;
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
            flex-basis: 30%;
        }
    }
}

.HomePage {
    position: relative;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    .PokeBlock {
        background-color: rgba(255, 255, 255, 0.4);
        border: 2px solid white;
        border-radius: 1em;
        header {
            display: flex;
            border-bottom: 2px solid white;
            .id {
                flex-basis: 20%;
                text-align: center;
                border-right: 2px solid white;
            }
            .name {
                flex-basis: 80%;
                text-align: center;
            }
        }
        figure {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
            }
        }
        article {
            border-top: 2px solid white;
            padding: 0.2em;
            text-align: center;
            .red {
                color: rgb(240, 100, 100);
            }
            .blue {
                color: #00aeff;
            }
        }
    }
    margin-bottom: 6em;
}

.loadingContainer {
    width: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 5em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner {
        width: 10em;
        height: 10em;
        border: 2em solid #ffffff;
        border-top: 2em solid #00aeff;
        border-radius: 50%;
    }
}

.mainFooter {
    width: 100%;
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0,0,0,1) 100%);
}

.pokemonDatails {
    position: relative;
    z-index: 2;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    .mainData {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        figure {
            flex-basis: 35%;
            height: 100%;
            img{
                width: 100%;
            }
        }
        article {
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 2em;
            justify-content: center;
            h1{
                font-size: 3em;
            }
            .types {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & > * {
                    flex-basis: 20%;
                    padding: 0.3em;
                    text-align: center;
                    border-radius: 1em;
                    margin-left: 2em;
                }
                .grass {
                    background-color: #00D108;
                }
                .poison {
                    background-color: #BE00DD;
                }
                .water {
                    background-color: #00ccff;
                }
                .psychic {
                    background-color: #f700ff;
                }
                .normal {
                    background-color: #A8A878;
                }
                .rock {
                    background-color: #5f5d5d;
                }                  
                .fire {
                    background-color: #F08030;
                }
                .dark {
                    background-color: #292929;
                }  
                .fighting {
                    background-color: #7D1F1A;
                } 
                .flying {
                    background-color: #A890F0;
                }
                .bug {
                    background-color: #A8B820;
                }
                .ice {
                    background-color: #98D8D8;                    
                }
                .dragon {
                    background-color: #7038F8;                    
                }
                .steel {
                    background-color: #B8B8D0;                    
                }
                .fairy {
                    background-color: #EE99AC;                    
                }
                .ground{
                    background-color: #E0C068;    
                }
                .electric{
                    background-color: #F8D030;    
                }
                .ghost{
                    background-color: #705898;    
                }
            }
        }
    }
    .pokemonStatus{
        flex-basis: 40%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        h1 {
            width: 100%;
            text-align: center;
            font-size: 2em;
            margin-bottom: 1em;
        }
        button {
            cursor: pointer;
            font-size: 1.5em;
            padding: 0.5em;
            border-radius: 1em;
            border: none;
        }
        .caught {
            background-color: #00C2FF;
        }
        .uncaught {
            background-color: rgb(240, 100, 100);
        }
    }
    .chart {
        flex-grow: 1;
        height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }
    .pokedexEntry {
        flex-basis: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        font-size: 2em;
        text-align: inherit;
        white-space: pre-wrap;
    }
}