@mixin phone{
    @media only screen and (max-device-width: 768px){
        @content;
    }
}
@mixin tablet{
    @media only screen and (min-device-width: 769px) and (max-device-width: 992px){
        @content;
    }
}
@mixin sml-scr{
    @media only screen and (min-device-width: 993px)  and (max-device-width: 1366px){
        @content;
    }
}
@mixin larg-scr{
    @media only screen and (min-device-width: 1367px){
        @content;
    }
}

button:focus, input:focus {
    outline:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"], 
    input[type="tel"], input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="tel"], input[type="url"]{ font-size: 16px; }
}

 @font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Regular.ttf');
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba($color: rgb(51, 0, 59), $alpha: 0.7);
}
::-webkit-scrollbar-thumb {
    background-color: rgba($color: rgb(126, 126, 126), $alpha: 1);
    border-radius: 1em;
}
::-webkit-scrollbar-corner{
    display: none;
}

#root {
    background-color: #5C006B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include phone {
        font-size: 2em;
    }
}
.mainHeader{
    z-index: 3;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    transition: 0.3s;
    padding: 1em;
    background-color: rgba(93, 0, 107, 0.3);
    &:hover{
        background-color: rgba(93, 0, 107, 1);  
    }
    .logoHolder {
        display: flex;
        //flex-grow: 1;
        figure {
            flex-basis: 25%;
            @include sml-scr {
                flex-basis: 35%;
            }
            @include tablet {
                flex-basis: 10%;
            }
            @include phone {
                flex-basis: 25%;
            }
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        h1 {
            font-weight: 300;
            font-size: 2em;
            display: flex;
            align-items: center;
            padding-left: 1em;
        }
    }
    .filters {
        flex-basis: 40%;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include sml-scr {
            flex-basis: 20%;
            &:hover {
                ul {
                    display: flex;
                }
            }
        }
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            list-style: none;
            @include sml-scr {
                flex-direction: column;
                position: absolute;
                bottom: -3.5em;
                display: none;
            }
            padding: 1em;
            justify-content: space-between;
            li {
                display: flex;
                position: relative;
                flex-wrap: wrap;
                padding: 0.2em;
                height: 3em;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover ol {
                    display: block;
                }
                @include sml-scr {
                    border-bottom: 1px solid black;
                    background-color: rgba(93, 0, 107, 1);
                    &:hover {
                        background-color: #4b0057;
                    }
                }
                ol {
                    display: none;
                    position: absolute;
                    width: 100%;
                    min-width: 10em;
                    max-height: 10em;
                    overflow-y: scroll;
                    top: 3em;
                    @include sml-scr {
                        left: 16.2vw;
                        top: 0;
                        z-index: 4;
                    }
                    flex-basis: 100%;
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: rgba($color: rgb(126, 126, 126), $alpha: 0.3);
                        border-radius: 1em;
                    }
                    &::-webkit-scrollbar-corner{
                        display: none;
                    }
                    li {
                        overflow: visible;
                        border-bottom: 1px solid black;
                        height: auto;
                        text-align: center;
                        background-color: rgba(93, 0, 107, 1);
                        &:hover {
                            background-color: #4b0057;
                        }
                    }
                    .selected {
                        background-color: #3d0047;
                    }
                }
            }
        }
    }
    .nameFilter {
        flex-basis: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include phone {
            position: absolute;
            top: 8.5em;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 90vw;
        }
        input {
            display: block;
            font-size: 1em;
            flex-basis: 10%;
            padding: 1em;
            border-radius: 2em;
            background: #2f3640;
            border: none;
            outline: none;
            transform: 1;
            text-align: center;
            transition: 0.5s;
            &:focus {
                flex-basis: 95%;
            }
        }
    }
    .profileMenu{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        &:hover ul {
            display: block;
        }
        .account {
            font-size: 3em;
        }
        p{
            font-size: 1.2em;
            padding-left: 0.5em;
        }
        ul {
            cursor: pointer;
            display: none;
            position: absolute;
            border-radius: 1em;
            overflow: hidden;
            border: solid 1px #3d0047;
            border-top: none;
            top: 100%;
            width: 100%;
            text-align: center;
            list-style: none;
            background-color: rgba(93, 0, 107, 1);
            li {
                &:hover {
                    background-color: #3d0047;
                }
                padding: 1em;
                span {
                    font-size: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .logout {
                border-top: 2px solid #3d0047;
            }
        }
    }
    .burgerHolder{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        height: 6em;
        .hamburger {
            font-size: 3em;
        }
    }
}

.glow {
    z-index: 1;
    width: 50vh;
    height: 50vh;
    background-color: #6F0081;
    border-radius: 200%;
    position: fixed;
    top: 40vh;
    left: 20vw;
    @include phone {
        top: 20vh;
        left: -10vh;
    }
    box-shadow: 0px 0px 89px 116px rgba(111,0,129,1);
}

.visitMain {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    @include phone {
        flex-direction: column;
        font-size: 1.2em;
    }
    section{
        overflow: hidden;
    }
    section, div {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        flex-wrap: wrap;
        h1 {
            font-weight: 100;
            flex-basis: 50%;
            font-size: 3em;
            text-align: center;
            @include phone {
                flex-basis: 100%;
            }
        }
        div{
            flex-basis: 100%;
            width: 100%;
            p{
                text-align: justify;
                overflow: hidden;
            }
            p, button {
                font-size: 1.4em;
                flex-basis: 60%;
                margin-top: 1em;
                @include phone {
                    flex-basis: 90%;
                }
            }
            button{
                border: 3px solid #fff;
                background: none;
                border-radius: 1.5em;
                padding: 0.5em;
            }
        }
    }
}

.register{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    position: relative;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    @include phone {
        font-size: 1.2em;
    }
    input, .buttonHolder > button{
        border-radius: 2em;
        cursor: pointer;
        margin-bottom: 1em;
        font-size: 1.1em;
        background: none;
        &::placeholder{
            color: #ccc;
        }
        padding: 1em;
        text-align: center;
        border: 2px solid white;
        color: white;
    }
    h1 {
        text-align: center;
        margin-bottom: 1em;
    }
    form {
        width: 40%;
        @include phone {
            width: 90%;
        }
        border-radius: 3em;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 2em;
        display: flex;
        flex-direction: column;
        p{
            text-align: center;
            margin-bottom: 1.5em;
            font-size: 1.2em;
            .blue{
                color: rgba($color: #00aeff, $alpha: 1.0);
                cursor: pointer;
            }
        }
    }
    .buttonHolder{
        width: 40%;
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
            flex-basis: 30%;
            @include phone {
                flex-basis: 40%;
            }
        }
        @include phone {
            width: 90%;
        }
    }
}
.error {
    color: #fd1717;
}

.HomePage {
    position: relative;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include phone {
        grid-template-columns: 1fr;
        margin-top: 3em;
    }
    @include sml-scr {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }
    grid-template-rows: auto;
    .PokeBlock {
        background-color: rgba(255, 255, 255, 0.4);
        border: 2px solid white;
        border-radius: 1em;
        font-size: 1.1em;
        header {
            display: flex;
            border-bottom: 2px solid white;
            @include phone {
                font-size: 1.3em;
            }
            .id {
                flex-basis: 20%;
                text-align: center;
                border-right: 2px solid white;
            }
            .name {
                flex-basis: 80%;
                text-align: center;
            }
        }
        figure {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
            }
        }
        article {
            border-top: 2px solid white;
            padding: 0.2em;
            text-align: center;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            @include phone {
                font-size: 1.3em;
            }
        }
        .red {
            background-color: #f06464;
        }
        .blue {
            background-color: #7984F7;
        }
    }
    margin-bottom: 6em;
}
.errorH1{
    width: 100%;
    margin-top: 3em;
    font-size: 2em;
    text-align: center;
}
@include tablet {
    .nameFilterInput {
        margin-right: 3em;
    }
}

.loadingContainer {
    width: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 5em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner {
        width: 10em;
        height: 10em;
        border: 2em solid #ffffff;
        border-top: 2em solid #00aeff;
        border-radius: 50%;
    }
    @include phone {
        margin-top: 5em;
    }
}

.mainFooter {
    width: 100%;
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0,0,0,1) 100%);
}

.pokemonDatails {
    position: relative;
    z-index: 2;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    @include phone {
        flex-direction: column;
        & > * {
            margin-bottom: 3em;
        }
    }
    @include tablet {
        flex-direction: column;
        & > * {
            margin-bottom: 3em;
        }
    }
    .mainData {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include phone {
            order: 1;
            flex-direction: column;
        }
        @include tablet {
            order: 1;
            //flex-direction: column;
        }
        figure {
            flex-basis: 35%;
            @include sml-scr {
                flex-basis: 50%;
            }
            @include tablet {
                flex-basis: 25%;
            }
            height: 100%;
            img{
                width: 100%;
            }
        }
        article {
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 2em;
            justify-content: center;
            h1{
                font-size: 3em;
                @include tablet {
                    text-align: center;
                }
            }
            @include phone {
                padding: 0;
            }
            @include tablet {
                padding: 0;
            }
            .types {
                display: flex;
                justify-content: space-around;
                align-items: center;
                @include sml-scr {
                    margin-bottom: 25%;
                }
                & > * {
                    flex-basis: 20%;
                    padding: 0.3em;
                    text-align: center;
                    border-radius: 1em;
                    padding-left: 1em;
                    padding-right: 1em;
                    @include phone {
                        font-size: 1.2em;
                    }
                    @include tablet {
                        font-size: 1.2em;
                    }
                }
                .grass {
                    background-color: #00D108;
                }
                .poison {
                    background-color: #BE00DD;
                }
                .water {
                    background-color: #00ccff;
                }
                .psychic {
                    background-color: #f700ff;
                }
                .normal {
                    background-color: #A8A878;
                }
                .rock {
                    background-color: #5f5d5d;
                }                  
                .fire {
                    background-color: #F08030;
                }
                .dark {
                    background-color: #292929;
                }  
                .fighting {
                    background-color: #7D1F1A;
                } 
                .flying {
                    background-color: #A890F0;
                }
                .bug {
                    background-color: #A8B820;
                }
                .ice {
                    background-color: #98D8D8;                    
                }
                .dragon {
                    background-color: #7038F8;                    
                }
                .steel {
                    background-color: #B8B8D0;                    
                }
                .fairy {
                    background-color: #EE99AC;                    
                }
                .ground{
                    background-color: #E0C068;    
                }
                .electric{
                    background-color: #F8D030;    
                }
                .ghost{
                    background-color: #705898;    
                }
            }
        }
    }
    .pokemonStatus{
        flex-basis: 40%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include phone {
            order: 2;
            width: 90vw;
        }
        @include tablet {
            order: 2;
            width: 90vw;
        }
        h1 {
            width: 100%;
            text-align: center;
            font-size: 2em;
            margin-bottom: 1em;
        }
        button {
            cursor: pointer;
            font-size: 1.5em;
            padding: 0.5em;
            border-radius: 1em;
            border: none;
            flex-basis: 45%;
        }
        .caught {
            background-color: #00C2FF;
        }
        .uncaught {
            background-color: rgb(240, 100, 100);
        }
        .changingStatus{
            background-color: #757575;
        }
    }
    .chart {
        flex-basis: 40%;
        height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        @include phone {
            order: 4;
            height: 25em;
            flex-basis: auto;
            flex-grow: 1;
        }
        @include tablet {
            order: 4;
            height: 25em;
            flex-basis: auto;
            flex-grow: 1;
        }
    }
    .pokedexEntry {
        flex-basis: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        font-size: 2em;
        text-align: inherit;
        white-space: pre-wrap;
        @include phone {
            order: 3;
            padding: 0;
        }
        @include tablet {
            order: 3;
            padding: 0;
        }
    }
}

.borgarBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-size: 1.3em;
    top: 0;
    right: 0;
    background: rgba($color: rgb(88, 88, 88), $alpha: 0.5);
    .return {
        width: 20vw;
        @include tablet {
            width: 60vw;
        }
        position: absolute;
        height: 100vh;
        left: 0;
        right: 0;
    }
    .borgar {
        width: 80vw;
        @include tablet {
            width: 40vw;
        }
        position: absolute;
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 2em;
        top: 0;
        right: 0;
        background-color: rgba(93, 0, 107, 1);
        .userMinSection {
            width: 100%;
            padding: 1em;
            display: flex;
            background: linear-gradient(rgb(0, 0, 0) 0%, #5C006B 100%);
            position: relative;
            figure {
                flex-basis: 25%;
                height: 4.2em;
                border: 8px solid white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 90%
                }
                span {
                    width: 90%;
                    text-align: center;
                    font-size: 3em;
                }
            }
            .close {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                font-size: 1.5em;
            }
            .userInfo {
                flex-grow: 1;
                margin-left: 1em;
                h1 {
                    width: 100%;
                }
                p{
                    font-size: 0.8em;
                }
                .progressStatus {
                    width: 100%;
                    height: 1.3em;
                    border-radius: 1em;
                    border: none;
                    overflow: hidden;
                    background-color: rgb(149, 149, 149);
                    .actuallProgress {
                        text-align: center;
                        width: 30%;
                        height: 100%;
                        background-color: #710084;
                    }
                }   
            }
        }
        .h1Filters {
            width: 100%;
            text-align: center;
        }
        .filtersTiles {
            width: 100%;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            padding: 1em;
            p {
                flex-grow: 1;
                text-align: center;
            }
            figure {
                border: 5px solid white;
                border-radius: 100%;
                flex-basis: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.3em;
                img {
                    width: 100%;
                    filter: invert(1);
                }
            }
            .arrow {
                font-size: 2.5em;
            }
        }
        ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;
            li {
                flex-basis: 80%;
                padding: 0.3em;
                text-align: center;
                background-color: #540162;
                border-bottom: 2px solid black;
            }
            .selected {
                background-color: #3d0047;
            }
        }
    } 
}

